
.grid-container {
  display: grid;
  height: 400px;
  width: 600px;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(40, 1fr);
  gap: 1px; /* Adjust the gap between grid cells as needed */
  border: 1px solid #000; /* Add a border for visualization */
}

.grid-item {
  border: 1px solid #ccc; /* Add a border to individual grid cells */
  background-color: #f0f0f0; /* Add background color to cells */
  
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.path {
  background-color: aliceblue;
}

.visited {
  background-color: aquamarine;
}